* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(222, 230, 228);
}
.container {
  justify-self: center;
  background-color: rgb(82, 87, 84);
  width: 300px;
  height: 400px;
  margin: 40px;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 5px;
  padding: 0;
}

.structure {
  width: 310px;
  height: 410px;
  background-color: rgb(26, 157, 26);
  overflow: hidden;
  position: absolute;
  top: 35px;
  display: flex;
  justify-self: center;
  z-index: -1;
}

.border.active {
  background: conic-gradient(blue, lime);
  width: 550px;
  height: 550px;
  border-radius: 50%;
  margin-left: 8%;
  margin-top: -60px;
  position: absolute;
  z-index: -1;
  animation: border-rotate 6s infinite;
}

@keyframes border-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, minmax(70px, 100px));
  background-color: rgb(196, 200, 247);
}

#delete,
#equals {
  grid-column: span 2;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.result {
  background-color: rgb(238, 234, 234);
  border: 0;
  font-size: large;
  width: 100%;
  height: 50px;
  box-shadow: 1px 1px 1px 1px rgb(150, 137, 137) inset;
}

.result.change {
  color: blue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: x-large;
  width: 100%;
  font-weight: bolder;
  letter-spacing: 8px;
  padding: 0 10px 0 10px;
}
.result.out {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  width: 100%;
  letter-spacing: 5px;
  padding: 0 10px 0 15px;
}
.result:hover {
  cursor: none;
}

button {
  user-select: none;
  padding: 10px;
  border: 0;
  color: white;
  border-radius: 5px;
  margin: 5px;
  font-size: 24px;
  box-shadow: 2px 2px 2px 2px rgb(150, 137, 137);
}

button:hover {
  background-color: rgb(173, 171, 171);
}

button:active {
  transform: scale(90%);
  transition: transform 0.05s ease;
  border: 3px solid rgb(125, 202, 125);
}

.number {
  background-color: rgb(102, 215, 243);
}

#equals {
  background-color: rgb(165, 211, 37);
}

#clear {
  background-color: red;
}

.operator,
.operate {
  background-color: steelblue;
}

#delete {
  background-color: gold;
}

.enab,
.dis {
  background-color: rgb(222, 230, 228);
  font-size: 17px;
  width: 50px;
  height: 30px;
  color: rgb(100, 75, 75);
  border: 2px solid rgb(199, 187, 187);
  padding: 5px;
}

.enab:hover,
.dis:hover {
  background-color: rgb(189, 188, 235);
  border: 2px solid rgb(224, 101, 248);
}

.enab:active,
.dis:active {
  transform: scale(105%);
}

.dis.close,
.enab.close {
  pointer-events: none;
  background-color: rgb(193, 195, 197);
}

.operate.off,
.add.hidden,
.minus.block,
.number.disabled,
.operator.exit,
.clear.out {
  pointer-events: none;
  background-color: grey;
}

@media (max-width: 300px) {
  .container {
    width: 80%;
    background-color: rgb(137, 145, 145);
    border-radius: 5px;
  }

  .structure {
    height: max-content;
    background-color: violet;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 50px);
  }

  button {
    font-size: medium;
    margin: 4px;
  }

  .enab,
  .dis {
    width: 40%;
    font-size: medium;
  }
}
